<div id="wrapper">
  <form class="center">
    <h1>Calcula tu Indice</h1>
    <div style="display: flex; flex-wrap: wrap;">
      <app-quarter class="form-group col-md-6"  *ngFor="let period of periods; index as i" 
        [availableSubjects]="subjects"
        [scoreRange]="college.scores"
        [index]="i">
      </app-quarter>
    </div>
  </form>
  <div class="material-button-container">
    <button mat-fab color="primary">
      <span class="material-icons">add</span>
    </button>
  </div>
</div>

