.center {
  margin-top: 30px;
  text-align: center;
}

.main-container {
  margin-top: 20px;
}
.card-img {
  width: 23%;
  float: left;
  margin-left: 2%;
}

body {
  padding-bottom: 50px;
}
.main-container {
  margin-top: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-image: "./assets/img/logo-app.png";
}
.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover {
  background-color: #22aeebc7;
}
.mat-step-text-label {
  font-size: 17px;
}
